#message_container{

    display:-webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100%;
    height:90vh;


}


#ai_animation{

    width:auto;
    height:45vh;



}